<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Stepzero.solutions. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cabbybookingbase" translate="label" sortOrder="200">
            <label>Booking Configuration</label>
        </tab>
        <section id="bookingbase" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Bookings</label>
            <tab>cabbybookingbase</tab>
            <resource>Stepzerosolutions_Base::config_base</resource>
            <group id="generaloptions" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Genaral Options</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Active</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="allowchildren" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Children</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow children booking</comment>
                </field>
                <field id="allowyoungteenagers" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Young Teenagers</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow second level children booking</comment>
                </field>
                <field id="allowseniorcitizens" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Senior Citizens</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="childrenagegroupstart" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Children Age Group Start</label>
                    <comment>Starting Age for Children</comment>
					<validate>validate-number</validate>
                </field>
                <field id="childrenagegroupend" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Children Age Group End</label>
                    <comment>Children age group end</comment>
					<validate>validate-number</validate>
                </field>
                <field id="youngteenagegroupend" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Teenage Group Age Limit end</label>
                    <comment>Teenage group end (Only if Allow young teenagers "Yes")</comment>
					<validate>validate-number</validate>
                </field>
            </group>
        </section>
        <section id="googleconfig" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Google</label>
            <tab>bookingbase</tab>
            <resource>Stepzerosolutions_Base::config_google</resource>
            <group id="generaloptions" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Genaral Options</label>
                <field id="calendarapi" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Calendar API</label>
                </field>
            </group>
        </section>
    </system>
</config>
